#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	container:
		parent: Shake\DI\Container                      # virtual repository & service, autoloading


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


database:
	dsn: 'mysql:host=localhost;dbname=test'
	user: root
	password:


session:
	expiration: 14 days


services:
	nette.presenterFactory:
		class: Shake\Scaffolding\PresenterFactory()    # virtual presenter feature

	database:                                          # database ORM
		class: Shake\Database\Orm\Context(@nette.database.default.context, Shake\Database\Orm\ConventionalFactory('*Entity', '*Table', ...))

	router: App\Router\RouterFactory::createRouter
	- App\Model\UserManager                            # also used as authentiator
