#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	container:
		parent: Shake\DI\Container                           # repository autoloading & virtual repository


php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	application:
		errorPresenter: Error

	database:
		dsn: 'mysql:host=localhost;dbname=test'
		user: root
		password:

	session:
		expiration: 14 days


services:
	nette.presenterFactory:
		class: Shake\Scaffolding\PresenterFactory(%appDir%)  # virtual presenter feature

	database:                                               # database ORM behaviour
		class: Shake\Database\Context(@nette.database.default.context, Shake\Database\ConventionalOrmFactory())

	authenticator: Authenticator
	router: RouterFactory()::createRouter