{block #content}
	<ol class="breadcrumb">
		<li><a n:href=":Admin:Article:">{_admin.section.articles}</a></li>
		<li class="active">{_admin.section.addArticle}</li>
	</ol>
	<h1>{_admin.section.addArticle}</h1>

	{control formControl}
{/block}
