{block #content}
	<ol class="breadcrumb">
		<li><a n:href=":Admin:Article:">{_admin.section.articles}</a></li>
		<li class="active">{$article->translation->title}</li>
	</ol>
	<h1>{_admin.section.editArticle}</h1>

	{control formControl}
{/block}
