body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="error:"] {
	background: red;
	color: white;
}



/*~~~~~~ Vertical center alignment - see http://css-tricks.com/centering-in-the-unknown/ */
.vertical-center-parent:before {  /* The ghost, nudged to maintain perfect centering */
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;  /* Adjusts for spacing */
}
.vertical-center-parent {
	letter-spacing: -.31em;  /* Fix for unwanted spaces before centered element */
	word-spacing: -.43em;
}
.vertical-center {  /* The element to be centered, can also be of any width and height */ 
	display: inline-block;
	vertical-align: middle;
	
	letter-spacing: normal;
	word-spacing: normal;
}
/*~~~~~~/   */